<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://img.freepik.com/free-vector/gradient-high-school-logo-design_23-2149626932.jpg" alt="Logo" width="120" height="54" class="d-inline-block align-text-top">
      
      </a>
      <button class="navbar-toggler btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon btn btn-warning"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student">Student Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentlogin">Student Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teacherlogin">Tearcher Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminlogin">Admin Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MORE
            </a>
            <ul class="dropdown-menu" style="background-color: rgb(20, 92, 68);">
              <li><a class="dropdown-item" routerLink="quiz">RESULT</a></li>
              <li><a class="dropdown-item" routerLink="course">course</a></li>
              <li><a class="dropdown-item" routerLink="quiz">payment</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
