<div class="container">
    <!-- HTML Template -->
    <div class="row">

<div class="col-lg-12">
    <table class="table table-bordered table-hover shadow-lg p-3 mb-5 bg-body-tertiary rounded  ">
        <thead class="thead-dark">
          <tr >
            <th scope="col">ID</th>
            <th scope="col">TEACHER Name</th>
            <th scope="col">COURSE</th>
            <th scope="col">GENDER</th>
            <th scope="col">ACTION</th>

            <!-- <th scope="col"></th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of students">
            <th scope="row">{{data.userid}}</th>
            <td>{{data.username}}</td>
            <td>{{data.course}}</td>
            <td>{{data.value}}</td>
            <td><button class="btn btn-danger" type="button" (click)="delete(data.userid)">regisination</button></td>
            <!-- <td>USA</td> -->
          </tr>
          
          
        </tbody>
      </table>
      



</div>



    </div>

</div>




<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="delete(adminid)" type="button" class="btn btn-danger">give resignation</button>
        </div>
      </div>
    </div>
  </div> -->