<div class="container">
    <div class="row mt-5" *ngFor="let item of msg">
<div class="col-md-7 mt-5" >

    <ul class="list-group" >
        <li class="list-group-item active p-4 text-center" aria-current="true">{{item.message}}</li>
  
      </ul>
</div>
<div class="col-md-3 mt-5">
    <ul class="list-group" >
    <li class="list-group-item active p-4 text-center list-group-item-success" aria-current="true">{{item.date}}</li>
   
    </ul>

</div>
<div class="col-md-2">
    <button (click)="delete(item._id)" class="btn btn-danger mt-5" style="font-size: 25px;"><i class="fa-solid fa-trash fa-shake"></i></button>
</div>
    </div>
</div>